{% extends 'base.html' %}

{% block main %}
<div class="fh5co-parallax" style="background-image: url(static/images/skebi.jpg); background-position: 0 160vh"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">ჩვენი სერვისები</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="services">
                    <span><i class="ti-location-pin"></i></span>
                    <div class="desc">
                        <h3>მკურნალობა ნუნისში</h3>
                        <p>ნუნისის მინერალური წყალი კურნავს კანის დაავადებებს, ამშვიდებს ნერვულ სისტემას, არეგულირებს
                            ნივთიერებათა ცვლას,
                            ალამაზებს და აახალგაზრდავებს კანს, ახალისებს ორგანიზმს.</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="services">
                    <span><i class="ti-user"></i></span>
                    <div class="desc">
                        <h3>კვება</h3>
                        <p>ნუნისში არის სამჯერადი კვება, რომელიც ხორციელდება შვედური მაგიდის პრინციპით.
                            კურორტზე მიირთმევთ ყველა იმ ნატურალურ პროდუქტს, რომელიც ადგილობრივ მოსახლეობაში მოიპოვება.
                           </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="services">
                    <span><i class="ti-signal"></i></span>
                    <div class="desc">
                        <h3>გართობა</h3>
                        <p>კურორტი ნუნისის ანიმატორები მუდმივად ზრუნავენ დამსვენებლების გართობაზე. გასართობი პროგრამა
                            ყოველდღე იცვლება. მოიცავს თამაშებს, დისკოთეკას, ფილმების ჩვენებასა და ექსკურსიებს. კურორტზე
                            განთავსებულია ბარი, სადაც შეგიძლიათ დრო სასიამოვნოდ გაატაროთ.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="services">
                    <span><i class="ti-calendar"></i></span>
                    <div class="desc">
                        <h3>მასაჟი</h3>
                        <p>ურორტი ნუნისი გთავაზობთ, გამაჯანსაღებელ, სამკურნალო და გასახდომ მასაჟებს.</p>
                        <ul>
                            <li>ბავშვებისთვის</li>
                            <li>უფროსებისთვის</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="services">
                    <span><i class="ti-alarm-clock"></i></span>
                    <div class="desc">
                        <h3>სპა-გამაჯანსაღებელი პროცედურები</h3>
                        <p> ნუნისში თქვენ გაქვთ შესაძლებლობა ჩაიტაროთ სპა პროცედურები ჩვენი უნიკალური წყლით, რომლის
                            მსგავსი იშვიათია დედამიწაზე.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}